<h3>Form that we likely wont have time to mess with</h3>


<form method="POST" action="/books" id="new-book-form">
    <label>
        Title:
        <input type="text" name="title" id="title">
    </label>
    <input type="submit" value="Add Book">
</form>