<h3>Form that we likely wont have time to mess with</h3>


<form>
    <label>
        Title:
        <input type="text" name="title" id="title">
    </label>
    <input type="submit" value="Add Book" id="new-book-submit-button">
</form>